openapi: 3.1.0
info:
  version: 1.0.0
  title: Propify API
security:
  - propify-api-key: []
  - propify-api-secret: []
servers:
  - url: https://api.getpropify.com
  - url: https://api.sandbox.getpropify.com
components:
  schemas: {}
  parameters: {}
paths:
  /v1/admin/data-diffs:
    get:
      tags:
        - admin
      summary: Get all data diffs
      description: Get all data diffs
      parameters:
        - schema:
            type: string
            description: "Order the results by a field. Optionally include asc or desc
              preceded by a colon (default is asc). Example:
              ?order-by=vendor:asc,created_at:desc"
          required: false
          name: order-by
          in: query
        - schema:
            type: integer
            nullable: true
            minimum: 0
            default: 0
            description: Can be used for paginating results
          required: false
          name: offset
          in: query
        - schema:
            type: integer
            nullable: true
            minimum: 0
            maximum: 250
            default: 100
            description: A number between 1 and 250 to determine the number of results to
              return in a single query
          required: false
          name: limit
          in: query
        - schema:
            type: string
            enum:
              - BUILDIUM
              - ENTRATA
              - PROPERTYWARE
              - REALPAGE
              - RENTMANAGER
              - YARDI
              - RENTVINE
              - REALPAGE_APP
              - MRI
              - RESMAN
            description: The integration vendor associated with the data diff
          required: false
          name: integration_vendor
          in: query
        - schema:
            type: string
            description: The integration id associated with the data diff
          required: false
          name: integration_id
          in: query
        - schema:
            type: string
            nullable: true
            description: Only show data diffs before this timestamp
          required: false
          name: before
          in: query
        - schema:
            type: string
            nullable: true
            description: Only show data diffs after this timestamp
          required: false
          name: after
          in: query
      responses:
        "200":
          description: Get all data diffs
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      offset:
                        type: integer
                        minimum: 0
                      limit:
                        type: integer
                        minimum: 0
                        maximum: 250
                      orderBy:
                        type: array
                        items:
                          type: object
                          properties: {}
                      hasMore:
                        type: boolean
                        nullable: true
                    required:
                      - orderBy
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique identifier for the data diff
                        model:
                          type: string
                          description: The name of the model the data diff is for
                        event_type:
                          type: string
                          enum:
                            - NEW
                            - UPDATE
                          description: The data diff event type
                        data_diff:
                          type: object
                          properties: {}
                          description: JSON data diff
                        created_at:
                          type: string
                          description: The date the data diff was created
                        integration_id:
                          type: string
                          description: The integration id
                        integration_vendor:
                          type: string
                          enum:
                            - BUILDIUM
                            - ENTRATA
                            - PROPERTYWARE
                            - REALPAGE
                            - RENTMANAGER
                            - YARDI
                            - RENTVINE
                            - REALPAGE_APP
                            - MRI
                            - RESMAN
                          description: The property management system of record
                      required:
                        - id
                        - model
                        - event_type
                        - data_diff
                        - created_at
                        - integration_id
                        - integration_vendor
                required:
                  - meta
                  - results
        "400":
          description: invalid input
  /v1/amenities:
    get:
      tags:
        - amenities
      summary: Get all amenities
      description: Get all amenities. The RealPage "Registered Vendor" API does not
        support reading amenities.
      parameters:
        - schema:
            type: string
            description: "Order the results by a field. Optionally include asc or desc
              preceded by a colon (default is asc). Example:
              ?order-by=vendor:asc,created_at:desc"
          required: false
          name: order-by
          in: query
        - schema:
            type: integer
            nullable: true
            minimum: 0
            default: 0
            description: Can be used for paginating results
          required: false
          name: offset
          in: query
        - schema:
            type: integer
            nullable: true
            minimum: 0
            maximum: 250
            default: 100
            description: A number between 1 and 250 to determine the number of results to
              return in a single query
          required: false
          name: limit
          in: query
        - schema:
            type: string
            description: The external amenity id
          required: false
          name: x_id
          in: query
        - schema:
            type: string
            description: The external property id
          required: false
          name: x_property_id
          in: query
        - schema:
            type: string
            description: The external unit id
          required: false
          name: x_unit_id
          in: query
        - schema:
            type: string
            description: The external listing id
          required: false
          name: x_listing_id
          in: query
        - schema:
            type: string
            description: The Propify property id
          required: false
          name: property_id
          in: query
        - schema:
            type: string
            description: The Propify integration id
          required: false
          name: integration_id
          in: query
        - schema:
            type: string
            enum:
              - BUILDIUM
              - ENTRATA
              - PROPERTYWARE
              - REALPAGE
              - RENTMANAGER
              - YARDI
              - RENTVINE
              - REALPAGE_APP
              - MRI
              - RESMAN
            description: The integration vendor for the amenity.
          required: false
          name: integration_vendor
          in: query
      responses:
        "200":
          description: Get all amenities. The RealPage "Registered Vendor" API does not
            support reading amenities.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      offset:
                        type: integer
                        minimum: 0
                      limit:
                        type: integer
                        minimum: 0
                        maximum: 250
                      orderBy:
                        type: array
                        items:
                          type: object
                          properties: {}
                      hasMore:
                        type: boolean
                        nullable: true
                    required:
                      - orderBy
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The Propify unique identifier for the amenity
                        created_at:
                          type: string
                          description: The date record first entered Propify
                        updated_at:
                          type: string
                          description: The date record was last updated in Propify
                        x_id:
                          type: string
                          description: The external ID from the integration vendor
                        x_listing_id:
                          type: string
                          nullable: true
                          description: The external ID of the listing from the integration vendor
                        x_parent_amenity_id:
                          type: string
                          nullable: true
                          description: The external ID from the integration vendor of the amenity this
                            unit and/or property amenity is associated with
                        x_property_id:
                          type: string
                          description: The external ID of the property from the integration vendor
                        x_unit_id:
                          type: string
                          nullable: true
                          description: The external ID of the unit from the integration vendor
                        cost_in_cents:
                          type: number
                          description: Cost in cents for the amenity
                        custom_data:
                          type: object
                          nullable: true
                          properties: {}
                          description: Custom data
                        description:
                          type: string
                          nullable: true
                          description: Description of the amenity
                        image_urls:
                          type: array
                          items:
                            type: string
                          description: List of image urls for the amenity
                        meta_data:
                          type: object
                          nullable: true
                          properties: {}
                          description: Meta data for the amenity
                        name_normalized:
                          type: string
                          nullable: true
                          enum: &a1
                            - ACCENT_WALLS
                            - ADDITIONAL_STORAGE
                            - AIR_CON
                            - AIR_CONDITIONING_COMMERCIAL
                            - AIR_CONDITIONING
                            - ALARM
                            - APPLIANCES_INCLUDED
                            - AVAILABILITY_24_HOURS
                            - BALCONY_OR_DECK_OR_PATIO
                            - BALCONY
                            - BASKETBALL_COURT
                            - BEACH_ACCESS
                            - BILINGUAL
                            - BOAT_DOCKS
                            - BROADBAND_INTERNET
                            - BUSINESS_CENTER
                            - CABLE_READY_COMMERCIAL
                            - CABLE_READY
                            - CABLE
                            - CAR_WASH_AREA
                            - CARPET
                            - CARPORT
                            - CEILING_FAN
                            - CHILD_CARE
                            - CLUB_DISCOUNT
                            - CLUB_HOUSE
                            - CONCIERGE
                            - CONFERENCE_ROOM
                            - CONTROLLED_ACCESS
                            - COURTYARD
                            - DISHWASHER
                            - DISPOSAL
                            - DOCK_HIGH_DOORS_OR_LOADING_AVAILABLE
                            - DOOR_ATTENDANT
                            - DOUBLE_SINK_VANITY
                            - DRYER
                            - ELECTRIC
                            - ELEVATOR
                            - FENCED_YARD
                            - FIREPLACE
                            - FITNESS_CENTER
                            - FRAMED_MIRRORS
                            - FREE_WEIGHTS
                            - FURNISHED_AVAILABLE
                            - FURNISHED
                            - GAMING_STATIONS
                            - GARAGE_PARKING
                            - GARAGE
                            - GAS
                            - GATE
                            - GROCERY_SERVICE
                            - GRILL
                            - GROUP_EXERCISE
                            - GUEST_ROOM
                            - HANDRAILS
                            - HARDWOOD_FLOORS
                            - HEAT_ELECTRIC
                            - HEAT_GAS
                            - HEAT_OIL
                            - HEAT
                            - HEATING
                            - HIGH_SPEED_INTERNET_COMMERCIAL
                            - HIGH_SPEED_INTERNET
                            - HOT_WATER
                            - HOUSE_SITTING
                            - HOUSEKEEPING
                            - INDIVIDUAL_CLIMATE_CONTROL
                            - ISLAND_KITCHEN
                            - JOGGING_WALKING_TRAILS
                            - LAKE_ACCESS
                            - LAKE_FRONT
                            - LAUNDRY_ROOM_OR_HOOKUPS
                            - LAUNDRY_ROOM
                            - LIBRARY
                            - LINEN_CLOSET
                            - MEAL_SERVICE
                            - MEDIA_ROOM
                            - MICROWAVE
                            - MULTI_USE_ROOM
                            - NIGHT_PATROL
                            - ON_SITE_MAINTENANCE
                            - ON_SITE_MANAGEMENT
                            - OTHER
                            - OVEN_OR_RANGE
                            - PACKAGE_RECEIVING
                            - PANTRY
                            - PARKING_COMMERCIAL
                            - PARKING
                            - PER_DIEM_ACCEPTED
                            - PETS_ALLOWED
                            - PLAY_GROUND
                            - POOL
                            - POWER
                            - PRIVATE_BALCONY
                            - PRIVATE_PATIO
                            - RACQUETBALL
                            - REC_ROOM
                            - RECYCLING
                            - REFRIGERATOR
                            - SATELLITE
                            - SAUNA
                            - SECURITY
                            - SEWER
                            - SHORT_TERM_LEASE
                            - SKYLIGHT
                            - SMOKE_FREE
                            - SPA
                            - SPRINKLER_SYSTEM
                            - STORAGE_UNITS
                            - SUNDECK
                            - TELEPHONE
                            - TENNIS_COURT
                            - TILE_FLOORING
                            - TRANSPORTATION
                            - TRASH
                            - TV_LOUNGE
                            - VALET_TRASH
                            - VAULTED_CEILING
                            - VIEW
                            - VINTAGE
                            - VINYL_FLOORING
                            - VOLLEYBALL_COURT
                            - WALK_IN_CLOSETS
                            - WASHER
                            - WATER
                            - WD_HOOKUP
                            - WD_IN_UNIT
                            - WHEEL_CHAIR
                            - WHEELCHAIR_ACCESS
                            - WINDOW_COVERINGS
                            - WIRELESS_INTERNET
                          description: Name of the amenity
                        name:
                          type: string
                          description: Name of the amenity
                        integration_id:
                          type: string
                          description: The Propify unique identifier for the integration
                        integration_vendor:
                          type: string
                          description: The property management system of record
                        property_id:
                          type: string
                          description: The Propify unique identifier for the property
                      required:
                        - id
                        - created_at
                        - updated_at
                        - x_id
                        - x_listing_id
                        - x_parent_amenity_id
                        - x_property_id
                        - x_unit_id
                        - cost_in_cents
                        - custom_data
                        - description
                        - image_urls
                        - meta_data
                        - name_normalized
                        - name
                        - integration_id
                        - integration_vendor
                        - property_id
                required:
                  - meta
                  - results
        "400":
          description: invalid input
  "/v1/amenities/{id}":
    get:
      tags:
        - amenities
      summary: Get an amenity by id
      description: Get an amenity by id
      parameters:
        - schema:
            type: string
            description: The ID of the resource.
          required: true
          name: id
          in: path
        - schema:
            type: string
            description: "Order the results by a field. Optionally include asc or desc
              preceded by a colon (default is asc). Example:
              ?order-by=vendor:asc,created_at:desc"
          required: false
          name: order-by
          in: query
        - schema:
            type: integer
            nullable: true
            minimum: 0
            default: 0
            description: Can be used for paginating results
          required: false
          name: offset
          in: query
        - schema:
            type: integer
            nullable: true
            minimum: 0
            maximum: 250
            default: 100
            description: A number between 1 and 250 to determine the number of results to
              return in a single query
          required: false
          name: limit
          in: query
      responses:
        "200":
          description: Get an amenity by id
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      offset:
                        type: integer
                        minimum: 0
                      limit:
                        type: integer
                        minimum: 0
                        maximum: 250
                      orderBy:
                        type: array
                        items:
                          type: object
                          properties: {}
                      hasMore:
                        type: boolean
                        nullable: true
                    required:
                      - orderBy
                  results:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The Propify unique identifier for the amenity
                      created_at:
                        type: string
                        description: The date record first entered Propify
                      updated_at:
                        type: string
                        description: The date record was last updated in Propify
                      x_id:
                        type: string
                        description: The external ID from the integration vendor
                      x_listing_id:
                        type: string
                        nullable: true
                        description: The external ID of the listing from the integration vendor
                      x_parent_amenity_id:
                        type: string
                        nullable: true
                        description: The external ID from the integration vendor of the amenity this
                          unit and/or property amenity is associated with
                      x_property_id:
                        type: string
                        description: The external ID of the property from the integration vendor
                      x_unit_id:
                        type: string
                        nullable: true
                        description: The external ID of the unit from the integration vendor
                      cost_in_cents:
                        type: number
                        description: Cost in cents for the amenity
                      custom_data:
                        type: object
                        nullable: true
                        properties: {}
                        description: Custom data
                      description:
                        type: string
                        nullable: true
                        description: Description of the amenity
                      image_urls:
                        type: array
                        items:
                          type: string
                        description: List of image urls for the amenity
                      meta_data:
                        type: object
                        nullable: true
                        properties: {}
                        description: Meta data for the amenity
                      name_normalized:
                        type: string
                        nullable: true
                        enum: *a1
                        description: Name of the amenity
                      name:
                        type: string
                        description: Name of the amenity
                      integration_id:
                        type: string
                        description: The Propify unique identifier for the integration
                      integration_vendor:
                        type: string
                        description: The property management system of record
                      property_id:
                        type: string
                        description: The Propify unique identifier for the property
                    required:
                      - id
                      - created_at
                      - updated_at
                      - x_id
                      - x_listing_id
                      - x_parent_amenity_id
                      - x_property_id
                      - x_unit_id
                      - cost_in_cents
                      - custom_data
                      - description
                      - image_urls
                      - meta_data
                      - name_normalized
                      - name
                      - integration_id
                      - integration_vendor
                      - property_id
                required:
                  - meta
                  - results
        "400":
          description: invalid input
  /v1/applicants:
    get:
      tags:
        - applicants
      summary: Get all applicants
      description: Get all applicants
      parameters:
        - schema:
            type: string
            description: "Order the results by a field. Optionally include asc or desc
              preceded by a colon (default is asc). Example:
              ?order-by=vendor:asc,created_at:desc"
          required: false
          name: order-by
          in: query
        - schema:
            type: integer
            nullable: true
            minimum: 0
            default: 0
            description: Can be used for paginating results
          required: false
          name: offset
          in: query
        - schema:
            type: integer
            nullable: true
            minimum: 0
            maximum: 250
            default: 100
            description: A number between 1 and 250 to determine the number of results to
              return in a single query
          required: false
          name: limit
          in: query
        - schema:
            type: string
            description: The external applicant id
          required: false
          name: x_id
          in: query
        - schema:
            type: string
            description: The external property id
          required: false
          name: x_property_id
          in: query
        - schema:
            type: string
            description: The external unit id
          required: false
          name: x_unit_id
          in: query
        - schema:
            type: string
            description: The Propify property id
          required: false
          name: property_id
          in: query
        - schema:
            type: string
            description: The Propify integration id
          required: false
          name: integration_id
          in: query
        - schema:
            type: string
            enum:
              - BUILDIUM
              - ENTRATA
              - PROPERTYWARE
              - REALPAGE
              - RENTMANAGER
              - YARDI
              - RENTVINE
              - REALPAGE_APP
              - MRI
              - RESMAN
            description: The integration vendor for the applicant.
          required: false
          name: integration_vendor
          in: query
      responses:
        "200":
          description: Get all applicants
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      offset:
                        type: integer
                        minimum: 0
                      limit:
                        type: integer
                        minimum: 0
                        maximum: 250
                      orderBy:
                        type: array
                        items:
                          type: object
                          properties: {}
                      hasMore:
                        type: boolean
                        nullable: true
                    required:
                      - orderBy
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The Propify unique identifier for the applicant
                        created_at:
                          type: string
                          description: The date record first entered Propify
                        updated_at:
                          type: string
                          description: The date record was last updated in Propify
                        x_id:
                          type: string
                          description: The external ID from the integration vendor
                        x_property_id:
                          type: string
                          description: The external ID of the property from the integration vendor
                        x_unit_id:
                          type: string
                          nullable: true
                          description: The external ID of the unit from the integration vendor
                        address_1_alternate:
                          type: string
                          nullable: true
                          description: Applicant alternate street address line 1
                        address_1:
                          type: string
                          nullable: true
                          description: Applicant street address line 1
                        address_2_alternate:
                          type: string
                          nullable: true
                          description: Applicant alternate street address line 2
                        address_2:
                          type: string
                          nullable: true
                          description: Applicant street address line 2
                        city_alternate:
                          type: string
                          nullable: true
                          description: Applicant alternate city
                        city:
                          type: string
                          nullable: true
                          description: Applicant city
                        country_alternate:
                          type: string
                          nullable: true
                          description: Applicant alternate country
                        country:
                          type: string
                          nullable: true
                          description: Applicant country
                        custom_data:
                          type: object
                          nullable: true
                          properties: {}
                          description: Custom data
                        date_of_birth:
                          type: string
                          nullable: true
                          description: Applicant date of birth
                        email_1:
                          type: string
                          nullable: true
                          description: Applicant email address
                        email_2:
                          type: string
                          nullable: true
                          description: Applicant email address alternate
                        first_name:
                          type: string
                          nullable: true
                          description: First name of the applicant
                        last_name:
                          type: string
                          nullable: true
                          description: Last name of the applicant
                        middle_name:
                          type: string
                          nullable: true
                          description: Middle name of the applicant
                        notes:
                          type: string
                          nullable: true
                          description: Notes
                        phone_1_type:
                          type: string
                          nullable: true
                          enum:
                            - FAX
                            - HOME
                            - MOBILE
                            - OTHER
                            - WORK
                          description: The type of phone number 1
                        phone_1:
                          type: string
                          nullable: true
                          description: Applicant phone number
                        phone_2_type:
                          type: string
                          nullable: true
                          enum:
                            - FAX
                            - HOME
                            - MOBILE
                            - OTHER
                            - WORK
                          description: The type of phone number 2
                        phone_2:
                          type: string
                          nullable: true
                          description: Applicant phone number 2
                        state_alternate:
                          type: string
                          nullable: true
                          description: Applicant alternate state
                        state:
                          type: string
                          nullable: true
                          description: Applicant state
                        zip_alternate:
                          type: string
                          nullable: true
                          description: Applicant alternate zip code
                        zip:
                          type: string
                          nullable: true
                          description: Applicant zip code
                        integration_id:
                          type: string
                          description: The Propify unique identifier for the integration
                        integration_vendor:
                          type: string
                          description: The property management system of record
                        property_id:
                          type: string
                          description: The Propify unique identifier for the property
                      required:
                        - id
                        - created_at
                        - updated_at
                        - x_id
                        - x_property_id
                        - x_unit_id
                        - address_1_alternate
                        - address_1
                        - address_2_alternate
                        - address_2
                        - city_alternate
                        - city
                        - country_alternate
                        - country
                        - custom_data
                        - date_of_birth
                        - email_1
                        - email_2
                        - first_name
                        - last_name
                        - middle_name
                        - notes
                        - phone_1_type
                        - phone_1
                        - phone_2_type
                        - phone_2
                        - state_alternate
                        - state
                        - zip_alternate
                        - zip
                        - integration_id
                        - integration_vendor
                        - property_id
                required:
                  - meta
                  - results
        "400":
          description: invalid input
    post:
      tags:
        - applicants
      summary: Create applicant
      description: Create an applicant for an integration.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                integration_id:
                  type: string
                x_property_id:
                  type: string
                  description: The property ID with which to associate the resident. This is the
                    ID of the object in Rentmanager. Note that it should be
                    passed as a string and not an integer.
                originating_lead_source_id:
                  type: string
                  description: The ID of the lead source. This maps to the originatingLeadSourceId
                    property of the Application object.
                first_name:
                  type: string
                  description: The first name of the resident.  This value maps to both the
                    FirstName and PrimaryContact.FirstName properties of the
                    Tenant object
                last_name:
                  type: string
                  description: The last name of the resident.  This value maps to both the
                    LastName and PrimaryContact.LastName properties of the
                    Tenant object
                x_unit_id:
                  type: string
                  description: The unit ID to associate the applicant with
                email_1:
                  type: string
                  format: email
                  description: The primary email address for the resident.  This value maps to the
                    PrimaryContact.Email property of the Tenant object
                date_of_birth:
                  type: string
                  format: date-time
                  description: The date of birth of the resident.  This value maps to the
                    PrimaryContact.DateOfBirth property of the Tenant object.
                address_1:
                  type: string
                  description: Street address for the resident. This maps to the Street property
                    of the primary address of the Tenant object
                address_2:
                  type: string
                  description: Second line of the street address for the applicant.  This maps to
                    the addressLine2 property of the Applicant's primary
                    address.
                city:
                  type: string
                  description: City of the resident's primary address
                state:
                  type: string
                  description: State of the resident's primary address
                zip:
                  type: string
                  description: Zip/Postal Code of the resident's primary address
                phone_1:
                  type: string
                  description: Applicant's primary phone number.  This will be assumed to be a
                    HOME phone number unless phone_1_type is also set.
                phone_1_type:
                  type: string
                  enum:
                    - HOME
                    - WORK
                    - MOBILE
                    - FAX
                  description: The type of the applicant's primary phone number.  The value passed
                    in here must be one of 'HOME', 'WORK', 'MOBILE', FAX'.
                custom_data:
                  type: object
                  properties: {}
                  description: Custom data
                send_rental_application_email:
                  type: boolean
                  default: false
                  description: Whether to send the new applicant an email with a link to the
                    online application form. Defaults to FALSE.
                phone_2:
                  type: string
                  description: Applicant's secondary phone number.  This will be assumed to be a
                    MOBILE phone number unless phone_2_type is also set.
                phone_2_type:
                  type: string
                  enum:
                    - HOME
                    - WORK
                    - MOBILE
                    - FAX
                  description: The type of the applicant's secondary phone number.  The value
                    passed in here must be one of 'HOME', 'WORK', 'MOBILE',
                    FAX'.
                middle_name:
                  type: string
                  description: The middle name of the resident.  This value maps to the
                    PrimaryContact.MiddleName property of the Tenant object
              required:
                - integration_id
      responses:
        "200":
          description: Create an applicant for an integration.
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    description: The ID of the job created to handle this operation
                  data:
                    type: object
                    properties: {}
                    description: Returned data from the operation. This is dependent on the vendor
                      specific endpoint's returned data.
                required:
                  - job_id
                  - data
        "400":
          description: invalid input
  "/v1/applicants/{id}":
    get:
      tags:
        - applicants
      summary: Get an applicant by ID
      description: Get an applicant by ID
      parameters:
        - schema:
            type: string
            description: The ID of the resource.
          required: true
          name: id
          in: path
        - schema:
            type: string
            description: "Order the results by a field. Optionally include asc or desc
              preceded by a colon (default is asc). Example:
              ?order-by=vendor:asc,created_at:desc"
          required: false
          name: order-by
          in: query
        - schema:
            type: integer
            nullable: true
            minimum: 0
            default: 0
            description: Can be used for paginating results
          required: false
          name: offset
          in: query
        - schema:
            type: integer
            nullable: true
            minimum: 0
            maximum: 250
            default: 100
            description: A number between 1 and 250 to determine the number of results to
              return in a single query
          required: false
          name: limit
          in: query
      responses:
        "200":
          description: Get an applicant by ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      offset:
                        type: integer
                        minimum: 0
                      limit:
                        type: integer
                        minimum: 0
                        maximum: 250
                      orderBy:
                        type: array
                        items:
                          type: object
                          properties: {}
                      hasMore:
                        type: boolean
                        nullable: true
                    required:
                      - orderBy
                  results:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The Propify unique identifier for the applicant
                      created_at:
                        type: string
                        description: The date record first entered Propify
                      updated_at:
                        type: string
                        description: The date record was last updated in Propify
                      x_id:
                        type: string
                        description: The external ID from the integration vendor
                      x_property_id:
                        type: string
                        description: The external ID of the property from the integration vendor
                      x_unit_id:
                        type: string
                        nullable: true
                        description: The external ID of the unit from the integration vendor
                      address_1_alternate:
                        type: string
                        nullable: true
                        description: Applicant alternate street address line 1
                      address_1:
                        type: string
                        nullable: true
                        description: Applicant street address line 1
                      address_2_alternate:
                        type: string
                        nullable: true
                        description: Applicant alternate street address line 2
                      address_2:
                        type: string
                        nullable: true
                        description: Applicant street address line 2
                      city_alternate:
                        type: string
                        nullable: true
                        description: Applicant alternate city
                      city:
                        type: string
                        nullable: true
                        description: Applicant city
                      country_alternate:
                        type: string
                        nullable: true
                        description: Applicant alternate country
                      country:
                        type: string
                        nullable: true
                        description: Applicant country
                      custom_data:
                        type: object
                        nullable: true
                        properties: {}
                        description: Custom data
                      date_of_birth:
                        type: string
                        nullable: true
                        description: Applicant date of birth
                      email_1:
                        type: string
                        nullable: true
                        description: Applicant email address
                      email_2:
                        type: string
                        nullable: true
                        description: Applicant email address alternate
                      first_name:
                        type: string
                        nullable: true
                        description: First name of the applicant
                      last_name:
                        type: string
                        nullable: true
                        description: Last name of the applicant
                      middle_name:
                        type: string
                        nullable: true
                        description: Middle name of the applicant
                      notes:
                        type: string
                        nullable: true
                        description: Notes
                      phone_1_type:
                        type: string
                        nullable: true
                        enum:
                          - FAX
                          - HOME
                          - MOBILE
                          - OTHER
                          - WORK
                        description: The type of phone number 1
                      phone_1:
                        type: string
                        nullable: true
                        description: Applicant phone number
                      phone_2_type:
                        type: string
                        nullable: true
                        enum:
                          - FAX
                          - HOME
                          - MOBILE
                          - OTHER
                          - WORK
                        description: The type of phone number 2
                      phone_2:
                        type: string
                        nullable: true
                        description: Applicant phone number 2
                      state_alternate:
                        type: string
                        nullable: true
                        description: Applicant alternate state
                      state:
                        type: string
                        nullable: true
                        description: Applicant state
                      zip_alternate:
                        type: string
                        nullable: true
                        description: Applicant alternate zip code
                      zip:
                        type: string
                        nullable: true
                        description: Applicant zip code
                      integration_id:
                        type: string
                        description: The Propify unique identifier for the integration
                      integration_vendor:
                        type: string
                        description: The property management system of record
                      property_id:
                        type: string
                        description: The Propify unique identifier for the property
                    required:
                      - id
                      - created_at
                      - updated_at
                      - x_id
                      - x_property_id
                      - x_unit_id
                      - address_1_alternate
                      - address_1
                      - address_2_alternate
                      - address_2
                      - city_alternate
                      - city
                      - country_alternate
                      - country
                      - custom_data
                      - date_of_birth
                      - email_1
                      - email_2
                      - first_name
                      - last_name
                      - middle_name
                      - notes
                      - phone_1_type
                      - phone_1
                      - phone_2_type
                      - phone_2
                      - state_alternate
                      - state
                      - zip_alternate
                      - zip
                      - integration_id
                      - integration_vendor
                      - property_id
                required:
                  - meta
                  - results
        "400":
          description: invalid input
    put:
      tags:
        - applicants
      summary: Update applicant
      description: Update an applicant for an integration.
      parameters:
        - schema:
            type: string
            description: The ID of the resource.
          required: true
          name: id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                last_name:
                  type: string
                  description: The last name of the applicant.
                first_name:
                  type: string
                  description: The first name of the applicant.
                x_unit_id:
                  type: string
                  description: The ID of the unit to which this applicant is applying. This maps
                    to the unitSpaceId property of the Application object.
                email_1:
                  type: string
                  format: email
                  description: The primary email address for the applicant.
                phone_1:
                  type: string
                  description: Applicant's primary phone number. This maps to the phoneNumber
                    property of the Applicant object.
                phone_1_type:
                  type: string
                  enum:
                    - HOME
                    - WORK
                    - MOBILE
                    - FAX
                  description: The type of the applicant's primary phone number.  The value passed
                    in here must be one of 'HOME', 'WORK', 'MOBILE', FAX'. This
                    maps to the phoneNumberTypeId property of the Applicant
                    object.
                phone_2:
                  type: string
                  description: Resident's secondary phone number.  This will be assumed to be a
                    MOBILE phone number unless phone_2_type is also set.
                phone_2_type:
                  type: string
                  enum:
                    - HOME
                    - WORK
                    - MOBILE
                    - FAX
                  description: The type of the resident's secondary phone number.  The value
                    passed in here must be one of 'HOME', 'WORK', 'MOBILE',
                    FAX'.
                x_property_id:
                  type: string
                  description: The property ID with which to associate the resident. This is the
                    ID of the property in Rentmanager.  Note that it should be
                    passed as a string and not an integer.
                originating_lead_source_id:
                  type: string
                  description: The ID of the lead source. This maps to the originatingLeadSourceId
                    property of the Application object.
                date_of_birth:
                  type: string
                  format: date-time
                  description: The date of birth of the resident.  This value maps to the
                    PrimaryContact.DateOfBirth property of the Tenant object.
                address_1:
                  type: string
                  description: Street address for the applicant.
                address_2:
                  type: string
                  description: Street address for the applicant.
                city:
                  type: string
                  description: City of the applicant's primary address
                state:
                  type: string
                  description: State of the applicant's primary address
                zip:
                  type: string
                  description: Zip/Postal Code of the applicant's primary address
                middle_name:
                  type: string
                  description: The middle name of the applicant.
                country:
                  type: string
                  description: Country of the applicant's primary address
              required:
                - id
      responses:
        "200":
          description: Update an applicant for an integration.
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    description: The ID of the job created to handle this operation
                  data:
                    type: object
                    properties: {}
                    description: Returned data from the operation. This is dependent on the vendor
                      specific endpoint's returned data.
                required:
                  - job_id
                  - data
        "400":
          description: invalid input
  /v1/lead-events:
    post:
      tags:
        - lead-events
      summary: Create lead event
      description: Create a lead event for an integration.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                integration_id:
                  type: string
                lead_id:
                  type: string
                  description: The Propify ID of the lead to attached the new event to.
                event_name:
                  type: string
                  enum:
                    - E-mail
                    - Event
                    - Fax/Letter
                    - Internet
                    - Notes
                    - Phone call
                    - Pre-recorded - Tour
                    - Self-guided - Tour
                    - Signature
                    - Text message
                    - Videotelephony - Tour
                    - Visit
                    - Visit (return)
                  description: The name of the event in Realpage. These are specific to Realpage.
                event_datetime:
                  type: string
                  nullable: true
                  description: The datetime that the event occured.
                notes:
                  type: string
                  description: Notes to associate with the event.
              required:
                - integration_id
      responses:
        "200":
          description: Create a lead event for an integration.
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    description: The ID of the job created to handle this operation
                  data:
                    type: object
                    properties: {}
                    description: Returned data from the operation. This is dependent on the vendor
                      specific endpoint's returned data.
                required:
                  - job_id
                  - data
        "400":
          description: invalid input
  /v1/leads:
    get:
      tags:
        - leads
      summary: Get all leads
      description: ""
      parameters:
        - schema:
            type: string
            description: "Order the results by a field. Optionally include asc or desc
              preceded by a colon (default is asc). Example:
              ?order-by=vendor:asc,created_at:desc"
          required: false
          name: order-by
          in: query
        - schema:
            type: integer
            nullable: true
            minimum: 0
            default: 0
            description: Can be used for paginating results
          required: false
          name: offset
          in: query
        - schema:
            type: integer
            nullable: true
            minimum: 0
            maximum: 250
            default: 100
            description: A number between 1 and 250 to determine the number of results to
              return in a single query
          required: false
          name: limit
          in: query
        - schema:
            type: string
            description: The external lead id
          required: false
          name: x_id
          in: query
        - schema:
            type: string
            description: The external property id
          required: false
          name: x_property_id
          in: query
        - schema:
            type: string
            description: The external unit id
          required: false
          name: x_unit_id
          in: query
        - schema:
            type: string
            description: The Propify property id
          required: false
          name: property_id
          in: query
        - schema:
            type: string
            description: The Propify integration id
          required: false
          name: integration_id
          in: query
        - schema:
            type: string
            enum:
              - BUILDIUM
              - ENTRATA
              - PROPERTYWARE
              - REALPAGE
              - RENTMANAGER
              - YARDI
              - RENTVINE
              - REALPAGE_APP
              - MRI
              - RESMAN
            description: The integration vendor for the lead.
          required: false
          name: integration_vendor
          in: query
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      offset:
                        type: integer
                        minimum: 0
                      limit:
                        type: integer
                        minimum: 0
                        maximum: 250
                      orderBy:
                        type: array
                        items:
                          type: object
                          properties: {}
                      hasMore:
                        type: boolean
                        nullable: true
                    required:
                      - orderBy
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The Propify unique identifier for the lead
                        created_at:
                          type: string
                          description: The date record first entered Propify
                        updated_at:
                          type: string
                          description: The date record was last updated in Propify
                        x_created_at:
                          type: string
                          nullable: true
                          description: The date the record first entered the integration vendor
                        x_guestcard_id:
                          type: string
                          nullable: true
                          description: The external ID of the guestcard from the integration vendor
                        x_id:
                          type: string
                          description: The external ID from the integration vendor
                        x_leasing_agent_id:
                          type: string
                          nullable: true
                          description: The external ID of the leasing agent from the integration vendor
                        x_property_id:
                          type: string
                          description: The external ID of the property from the integration vendor
                        x_unit_id:
                          type: string
                          nullable: true
                          description: The external ID of the unit from the integration vendor
                        x_updated_at:
                          type: string
                          nullable: true
                          description: The date the record was last updated in the integration vendor
                        address_1:
                          type: string
                          nullable: true
                          description: Lead street address line 1
                        address_2:
                          type: string
                          nullable: true
                          description: Lead street address line 2
                        city:
                          type: string
                          nullable: true
                          description: Lead city
                        country:
                          type: string
                          nullable: true
                          description: Lead country
                        custom_data:
                          type: object
                          nullable: true
                          properties: {}
                          description: Custom data
                        date_of_birth:
                          type: string
                          nullable: true
                          description: Lead date of birth
                        desired_amenities:
                          type: string
                          nullable: true
                          description: The desired amenities
                        desired_floor_plan_id:
                          type: string
                          nullable: true
                          description: The desired floor plan ID
                        desired_floor_plan_name:
                          type: string
                          nullable: true
                          description: The desired floor plan name
                        desired_lease_term_in_months:
                          type: string
                          nullable: true
                          description: The desired lease term
                        desired_max_rent_in_cents:
                          type: number
                          description: The desired maximum rent
                        desired_max_square_ft:
                          type: number
                          nullable: true
                          description: The desired maximum square feet
                        desired_min_rent_in_cents:
                          type: number
                          description: The desired minimum rent
                        desired_min_square_ft:
                          type: number
                          nullable: true
                          description: The desired minimum square feet
                        desired_num_bathrooms:
                          type: number
                          nullable: true
                          description: The desired number of bathrooms
                        desired_num_bedrooms:
                          type: integer
                          nullable: true
                          description: The desired number of bedrooms
                        desired_unit_number:
                          type: string
                          nullable: true
                          description: The unit number
                        desired_unit_type:
                          type: string
                          nullable: true
                          description: The unit type
                        email_1:
                          type: string
                          nullable: true
                          description: Lead email address
                        email_2:
                          type: string
                          nullable: true
                          description: Lead email address alternate
                        first_name:
                          type: string
                          nullable: true
                          description: First name of the lead
                        ils:
                          type: string
                          nullable: true
                          description: The name of the intetnet listing service
                        last_name:
                          type: string
                          nullable: true
                          description: Last name of the lead
                        lead_source:
                          type: string
                          nullable: true
                          description: The lead source
                        leasing_agent:
                          type: string
                          nullable: true
                          description: The name of the leasing agent
                        middle_name:
                          type: string
                          nullable: true
                          description: Middle name of the lead
                        notes:
                          type: string
                          nullable: true
                          description: Notes
                        number_of_occupants:
                          type: integer
                          nullable: true
                          description: The number of occupants
                        pet_details:
                          type: string
                          nullable: true
                          description: Details about the lead's pets
                        phone_1_type:
                          type: string
                          nullable: true
                          description: The type of phone number 1
                        phone_1:
                          type: string
                          nullable: true
                          description: Lead phone number
                        phone_2_type:
                          type: string
                          nullable: true
                          description: The type of phone number 2
                        phone_2:
                          type: string
                          nullable: true
                          description: Lead phone number 2
                        state:
                          type: string
                          nullable: true
                          description: Lead state
                        status:
                          type: string
                          nullable: true
                          description: The status of the lead
                        target_move_in_date:
                          type: string
                          nullable: true
                          description: The target move in date
                        zip:
                          type: string
                          nullable: true
                          description: Lead zip code
                        property_id:
                          type: string
                          description: The Propify unique identifier for the property
                        integration_id:
                          type: string
                          description: The Propify unique identifier for the integration
                        integration_vendor:
                          type: string
                          description: The property management system of record
                      required:
                        - id
                        - created_at
                        - updated_at
                        - x_created_at
                        - x_guestcard_id
                        - x_id
                        - x_leasing_agent_id
                        - x_property_id
                        - x_unit_id
                        - x_updated_at
                        - address_1
                        - address_2
                        - city
                        - country
                        - custom_data
                        - date_of_birth
                        - desired_amenities
                        - desired_floor_plan_id
                        - desired_floor_plan_name
                        - desired_lease_term_in_months
                        - desired_max_rent_in_cents
                        - desired_max_square_ft
                        - desired_min_rent_in_cents
                        - desired_min_square_ft
                        - desired_num_bathrooms
                        - desired_num_bedrooms
                        - desired_unit_number
                        - desired_unit_type
                        - email_1
                        - email_2
                        - first_name
                        - ils
                        - last_name
                        - lead_source
                        - leasing_agent
                        - middle_name
                        - notes
                        - number_of_occupants
                        - pet_details
                        - phone_1_type
                        - phone_1
                        - phone_2_type
                        - phone_2
                        - state
                        - status
                        - target_move_in_date
                        - zip
                        - property_id
                        - integration_id
                        - integration_vendor
                required:
                  - meta
                  - results
        "400":
          description: invalid input
    post:
      tags:
        - leads
      summary: Create lead
      description: Create a lead for an integration.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                integration_id:
                  type: string
                last_name:
                  type: string
                  description: The last name of the prospect.  This value maps to the LastName
                    property of the Prospect object
                first_name:
                  type: string
                  description: The first name of the prospect.  This value maps to the FirstName
                    property of the Prospect object
                email_1:
                  type: string
                  format: email
                  description: The primary email address for the prospect.  This value maps to the
                    Email property of the Prospect object
                phone_1:
                  type: string
                  description: Prospect's primary phone number.  This will be assumed to be a HOME
                    phone number unless phone_1_type is also set.
                phone_1_type:
                  type: string
                  enum:
                    - HOME
                    - WORK
                    - MOBILE
                    - FAX
                  description: The type of the prospect's primary phone number.  The value passed
                    in here must be one of 'HOME', 'WORK', 'MOBILE', FAX'.
                phone_2:
                  type: string
                  description: Prospect's secondary phone number.  This will be assumed to be a
                    MOBILE phone number unless phone_2_type is also set.
                phone_2_type:
                  type: string
                  enum:
                    - HOME
                    - WORK
                    - MOBILE
                    - FAX
                  description: The type of the prospect's secondary phone number.  The value
                    passed in here must be one of 'HOME', 'WORK', 'MOBILE',
                    FAX'.
                address_1:
                  type: string
                  description: First line of the street address for the prospect.
                address_2:
                  type: string
                  description: Second line of the street address for the prospect.
                city:
                  type: string
                  description: The city that the prospect lives in.
                state:
                  type: string
                  description: State of the prospect's primary address.
                zip:
                  type: string
                  description: Zip/Postal Code of the prospect's primary address.
                country:
                  type: string
                  description: Country of the prospect's primary address
              required:
                - integration_id
      responses:
        "200":
          description: Create a lead for an integration.
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    description: The ID of the job created to handle this operation
                  data:
                    type: object
                    properties: {}
                    description: Returned data from the operation. This is dependent on the vendor
                      specific endpoint's returned data.
                required:
                  - job_id
                  - data
        "400":
          description: invalid input
  "/v1/leads/{id}":
    get:
      tags:
        - leads
      summary: Get a lead by ID
      description: Get a lead by ID
      parameters:
        - schema:
            type: string
            description: The ID of the resource.
          required: true
          name: id
          in: path
        - schema:
            type: string
            description: "Order the results by a field. Optionally include asc or desc
              preceded by a colon (default is asc). Example:
              ?order-by=vendor:asc,created_at:desc"
          required: false
          name: order-by
          in: query
        - schema:
            type: integer
            nullable: true
            minimum: 0
            default: 0
            description: Can be used for paginating results
          required: false
          name: offset
          in: query
        - schema:
            type: integer
            nullable: true
            minimum: 0
            maximum: 250
            default: 100
            description: A number between 1 and 250 to determine the number of results to
              return in a single query
          required: false
          name: limit
          in: query
      responses:
        "200":
          description: Get a lead by ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      offset:
                        type: integer
                        minimum: 0
                      limit:
                        type: integer
                        minimum: 0
                        maximum: 250
                      orderBy:
                        type: array
                        items:
                          type: object
                          properties: {}
                      hasMore:
                        type: boolean
                        nullable: true
                    required:
                      - orderBy
                  results:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The Propify unique identifier for the lead
                      created_at:
                        type: string
                        description: The date record first entered Propify
                      updated_at:
                        type: string
                        description: The date record was last updated in Propify
                      x_created_at:
                        type: string
                        nullable: true
                        description: The date the record first entered the integration vendor
                      x_guestcard_id:
                        type: string
                        nullable: true
                        description: The external ID of the guestcard from the integration vendor
                      x_id:
                        type: string
                        description: The external ID from the integration vendor
                      x_leasing_agent_id:
                        type: string
                        nullable: true
                        description: The external ID of the leasing agent from the integration vendor
                      x_property_id:
                        type: string
                        description: The external ID of the property from the integration vendor
                      x_unit_id:
                        type: string
                        nullable: true
                        description: The external ID of the unit from the integration vendor
                      x_updated_at:
                        type: string
                        nullable: true
                        description: The date the record was last updated in the integration vendor
                      address_1:
                        type: string
                        nullable: true
                        description: Lead street address line 1
                      address_2:
                        type: string
                        nullable: true
                        description: Lead street address line 2
                      city:
                        type: string
                        nullable: true
                        description: Lead city
                      country:
                        type: string
                        nullable: true
                        description: Lead country
                      custom_data:
                        type: object
                        nullable: true
                        properties: {}
                        description: Custom data
                      date_of_birth:
                        type: string
                        nullable: true
                        description: Lead date of birth
                      desired_amenities:
                        type: string
                        nullable: true
                        description: The desired amenities
                      desired_floor_plan_id:
                        type: string
                        nullable: true
                        description: The desired floor plan ID
                      desired_floor_plan_name:
                        type: string
                        nullable: true
                        description: The desired floor plan name
                      desired_lease_term_in_months:
                        type: string
                        nullable: true
                        description: The desired lease term
                      desired_max_rent_in_cents:
                        type: number
                        description: The desired maximum rent
                      desired_max_square_ft:
                        type: number
                        nullable: true
                        description: The desired maximum square feet
                      desired_min_rent_in_cents:
                        type: number
                        description: The desired minimum rent
                      desired_min_square_ft:
                        type: number
                        nullable: true
                        description: The desired minimum square feet
                      desired_num_bathrooms:
                        type: number
                        nullable: true
                        description: The desired number of bathrooms
                      desired_num_bedrooms:
                        type: integer
                        nullable: true
                        description: The desired number of bedrooms
                      desired_unit_number:
                        type: string
                        nullable: true
                        description: The unit number
                      desired_unit_type:
                        type: string
                        nullable: true
                        description: The unit type
                      email_1:
                        type: string
                        nullable: true
                        description: Lead email address
                      email_2:
                        type: string
                        nullable: true
                        description: Lead email address alternate
                      first_name:
                        type: string
                        nullable: true
                        description: First name of the lead
                      ils:
                        type: string
                        nullable: true
                        description: The name of the intetnet listing service
                      last_name:
                        type: string
                        nullable: true
                        description: Last name of the lead
                      lead_source:
                        type: string
                        nullable: true
                        description: The lead source
                      leasing_agent:
                        type: string
                        nullable: true
                        description: The name of the leasing agent
                      middle_name:
                        type: string
                        nullable: true
                        description: Middle name of the lead
                      notes:
                        type: string
                        nullable: true
                        description: Notes
                      number_of_occupants:
                        type: integer
                        nullable: true
                        description: The number of occupants
                      pet_details:
                        type: string
                        nullable: true
                        description: Details about the lead's pets
                      phone_1_type:
                        type: string
                        nullable: true
                        description: The type of phone number 1
                      phone_1:
                        type: string
                        nullable: true
                        description: Lead phone number
                      phone_2_type:
                        type: string
                        nullable: true
                        description: The type of phone number 2
                      phone_2:
                        type: string
                        nullable: true
                        description: Lead phone number 2
                      state:
                        type: string
                        nullable: true
                        description: Lead state
                      status:
                        type: string
                        nullable: true
                        description: The status of the lead
                      target_move_in_date:
                        type: string
                        nullable: true
                        description: The target move in date
                      zip:
                        type: string
                        nullable: true
                        description: Lead zip code
                      property_id:
                        type: string
                        description: The Propify unique identifier for the property
                      integration_id:
                        type: string
                        description: The Propify unique identifier for the integration
                      integration_vendor:
                        type: string
                        description: The property management system of record
                    required:
                      - id
                      - created_at
                      - updated_at
                      - x_created_at
                      - x_guestcard_id
                      - x_id
                      - x_leasing_agent_id
                      - x_property_id
                      - x_unit_id
                      - x_updated_at
                      - address_1
                      - address_2
                      - city
                      - country
                      - custom_data
                      - date_of_birth
                      - desired_amenities
                      - desired_floor_plan_id
                      - desired_floor_plan_name
                      - desired_lease_term_in_months
                      - desired_max_rent_in_cents
                      - desired_max_square_ft
                      - desired_min_rent_in_cents
                      - desired_min_square_ft
                      - desired_num_bathrooms
                      - desired_num_bedrooms
                      - desired_unit_number
                      - desired_unit_type
                      - email_1
                      - email_2
                      - first_name
                      - ils
                      - last_name
                      - lead_source
                      - leasing_agent
                      - middle_name
                      - notes
                      - number_of_occupants
                      - pet_details
                      - phone_1_type
                      - phone_1
                      - phone_2_type
                      - phone_2
                      - state
                      - status
                      - target_move_in_date
                      - zip
                      - property_id
                      - integration_id
                      - integration_vendor
                required:
                  - meta
                  - results
        "400":
          description: invalid input
    put:
      tags:
        - leads
      summary: Update lead
      description: Update a lead.
      parameters:
        - schema:
            type: string
            description: The ID of the resource.
          required: true
          name: id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                last_name:
                  type: string
                  description: The last name of the prospect.  This value maps to the LastName
                    property of the Prospect object
                first_name:
                  type: string
                  description: The first name of the prospect.  This value maps to the FirstName
                    property of the Prospect object
                email_1:
                  type: string
                  format: email
                  description: The primary email address for the prospect.  This value maps to the
                    Email property of the Prospect object
                phone_1:
                  type: string
                  description: Prospect's primary phone number.  This will be assumed to be a HOME
                    phone number unless phone_1_type is also set.
                phone_1_type:
                  type: string
                  enum:
                    - HOME
                    - WORK
                    - MOBILE
                    - FAX
                  description: The type of the prospect's primary phone number.  The value passed
                    in here must be one of 'HOME', 'WORK', 'MOBILE', FAX'.
                phone_2:
                  type: string
                  description: Prospect's secondary phone number.  This will be assumed to be a
                    MOBILE phone number unless phone_2_type is also set.
                phone_2_type:
                  type: string
                  enum:
                    - HOME
                    - WORK
                    - MOBILE
                    - FAX
                  description: The type of the prospect's secondary phone number.  The value
                    passed in here must be one of 'HOME', 'WORK', 'MOBILE',
                    FAX'.
                address_1:
                  type: string
                  description: First line of the street address for the prospect.
                address_2:
                  type: string
                  description: Second line of the street address for the prospect.
                city:
                  type: string
                  description: The city that the prospect lives in.
                state:
                  type: string
                  description: State of the prospect's primary address.
                zip:
                  type: string
                  description: Zip/Postal Code of the prospect's primary address.
                country:
                  type: string
                  description: Country of the prospect's primary address
              required:
                - id
      responses:
        "200":
          description: Update a lead.
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    description: The ID of the job created to handle this operation
                  data:
                    type: object
                    properties: {}
                    description: Returned data from the operation. This is dependent on the vendor
                      specific endpoint's returned data.
                required:
                  - job_id
                  - data
        "400":
          description: invalid input
  /v1/leases:
    get:
      tags:
        - leases
      summary: Get all leases
      description: Get all leases
      parameters:
        - schema:
            type: string
            description: "Order the results by a field. Optionally include asc or desc
              preceded by a colon (default is asc). Example:
              ?order-by=vendor:asc,created_at:desc"
          required: false
          name: order-by
          in: query
        - schema:
            type: integer
            nullable: true
            minimum: 0
            default: 0
            description: Can be used for paginating results
          required: false
          name: offset
          in: query
        - schema:
            type: integer
            nullable: true
            minimum: 0
            maximum: 250
            default: 100
            description: A number between 1 and 250 to determine the number of results to
              return in a single query
          required: false
          name: limit
          in: query
        - schema:
            type: string
            description: The external lease id
          required: false
          name: x_id
          in: query
        - schema:
            type: string
            description: The external property id
          required: false
          name: x_property_id
          in: query
        - schema:
            type: string
            description: The external unit id
          required: false
          name: x_unit_id
          in: query
        - schema:
            type: string
            description: The Propify resident id.
          required: false
          name: resident_id
          in: query
        - schema:
            type: string
            description: The Propify property id
          required: false
          name: property_id
          in: query
        - schema:
            type: string
            description: The Propify integration id
          required: false
          name: integration_id
          in: query
        - schema:
            type: string
            enum:
              - BUILDIUM
              - ENTRATA
              - PROPERTYWARE
              - REALPAGE
              - RENTMANAGER
              - YARDI
              - RENTVINE
              - REALPAGE_APP
              - MRI
              - RESMAN
            description: The integration vendor for the lease.
          required: false
          name: integration_vendor
          in: query
      responses:
        "200":
          description: Get all leases
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      offset:
                        type: integer
                        minimum: 0
                      limit:
                        type: integer
                        minimum: 0
                        maximum: 250
                      orderBy:
                        type: array
                        items:
                          type: object
                          properties: {}
                      hasMore:
                        type: boolean
                        nullable: true
                    required:
                      - orderBy
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The Propify unique identifier for the lease
                        created_at:
                          type: string
                          description: The date record first entered Propify
                        updated_at:
                          type: string
                          description: The date record was last updated in Propify
                        x_id:
                          type: string
                          description: The external ID from the integration vendor
                        x_property_id:
                          type: string
                          description: The external ID of the property from the integration vendor
                        x_resident_id:
                          type: string
                          nullable: true
                          description: Deprecated. Use resident_ids instead
                        x_unit_id:
                          type: string
                          nullable: true
                          description: The external ID of the unit from the integration vendor
                        residents_meta_data:
                          type: array
                          items:
                            type: object
                            properties:
                              resident_id:
                                type: string
                                description: Propify resident ID
                              x_resident_type:
                                type: string
                                nullable: true
                                description: Resident type from external system
                              resident_type_normalized:
                                type: string
                                nullable: true
                                enum:
                                  - PRIMARY
                                  - SECONDARY
                                  - GUARANTOR
                                  - OTHER
                                description: Resident type from Propify
                            required:
                              - resident_id
                              - x_resident_type
                              - resident_type_normalized
                          description: Known associated resident meta data
                        application_date:
                          type: string
                          nullable: true
                          description: The date the application was submitted
                        custom_data:
                          type: object
                          nullable: true
                          properties: {}
                          description: Custom data
                        deposit_amount:
                          type: string
                          nullable: true
                          description: The deposit amount in cents
[...]
